@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

:root {
    font-size: 20px;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}

body {
     background-color: #2F2727;
}

body {
    text-decoration: none;
    color: white;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}

body {
    max-width: 980px;
    margin: auto;
}