@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

:root {
    font-size: 20px;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

 

header .menu {
    padding: 0;
    display: flex;
}

header {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #270000;
    
}

header .menu li {
    display: inline;
}

header .menu li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}

header nav {
        display: flex;
    }
    
@media (min-width: 500px) {
    header nav {
        display: flex;
    }
  
    header .menu {
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    header .menu li {
        margin: 0 2%;
    }
}


main .banner_sighn {
    min-height: 550px;
    background-image: url(../img/photos/girls.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .banner_sighn h1 {
    font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
    font-size: 3rem;
    text-shadow: 3px 3px 3px #F1D4FF;
    color: #270000;
    margin-top: 300px;
    margin-left: 50px;
    text-align: center;
}





main .button {
    display: flex;
    justify-content: center;
}





.button {
    background-color: #0047BE; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #0047BE; 
    color: white; 
    border: 2px solid #0047BE;
}

.button:hover {
    background-color: #0047BE;
    color: black;
}



























































main .about_me {
    background-color: #CCCCCC;
}

main .portfolio {
    background-color: #270000;
    color: white;
}

main .portfolio {
   margin-top: 100px;
   margin-bottom: 100px;
}


main .prices {
    background-color: #CCCCCC;
}

main .contacts {
    background-color: #270000;
    font-size: 1.1rem;
    color: white;
}




main .form_contact_me {
    margin-top: 250px;
    margin-bottom: 250px;

}







footer {
    
        background-color: #270000;
        color: white;
}


 
 
 
 
 
 
 
 
 
 
 
 footer {
    padding: 0;
    display: flex;
}

footer {
    background-color: #270000;
    
}

footer li {
    display: inline;
}

footer li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}

footer {
        display: flex;
    }